/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: none;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  margin: auto;
  display: grid;
  row-gap: 1rem;
  column-gap: 1rem;
  max-width: 1200px;
  padding: 1rem 2rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

main > article {
  background: var(--ifm-color-gray-800);
  border-radius: 12px;
  padding: 1.5rem;
}

main > article > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 6px;
  width: 48px;
  height: 48px;
  font-size: 24px;
  background-color: #484c5b;
}

main > article > h2 {
  font-size: 1.5rem;
}

@media screen and (min-width:768px) {
  main {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width:992px) {
  main {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.dimmer {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: fixed;
  background: var(--ifm-color-gray-900);
}

.dimmer span {
  width: 1px;
  height: 1px;
  display: block;
  box-shadow: 5vw 79vh #9fbfec,
    13vw 92vh #9fbfec,
    3vw 98vh #9fbfec,
    79vw 76vh #9fbfec,
    14vw 29vh #9fbfec,
    67vw 55vh #9fbfec,
    11vw 72vh #9fbfec,
    86vw 19vh #9fbfec,
    42vw 90vh #9fbfec,
    19vw 51vh #9fbfec,
    19vw 9vh #9fbfec,
    22vw 65vh #9fbfec,
    59vw 86vh #9fbfec,
    11vw 90vh #9fbfec,
    51vw 19vh #9fbfec,
    8vw 8vh #9fbfec,
    98vw 93vh #9fbfec,
    96vw 81vh #9fbfec,
    27vw 49vh #9fbfec,
    25vw 33vh #9fbfec,
    65vw 72vh #9fbfec,
    11vw 3vh #9fbfec,
    24vw 48vh #9fbfec,
    20vw 26vh #9fbfec,
    38vw 15vh #9fbfec,
    28vw 76vh #9fbfec,
    61vw 45vh #9fbfec,
    81vw 10vh #9fbfec,
    39vw 43vh #9fbfec,
    89vw 23vh #9fbfec,
    45vw 46vh #9fbfec,
    84vw 85vh #9fbfec,
    76vw 10vh #9fbfec,
    85vw 46vh #9fbfec,
    54vw 20vh #9fbfec,
    72vw 14vh #9fbfec,
    98vw 70vh #9fbfec,
    89vw 73vh #9fbfec,
    72vw 32vh #9fbfec,
    64vw 99vh #9fbfec,
    67vw 36vh #9fbfec,
    74vw 32vh #9fbfec,
    7vw 61vh #9fbfec,
    56vw 1vh #9fbfec,
    45vw 67vh #9fbfec,
    87vw 51vh #9fbfec,
    10vw 31vh #9fbfec,
    71vw 58vh #9fbfec,
    73vw 15vh #9fbfec,
    77vw 34vh #9fbfec,
    41vw 56vh #9fbfec,
    32vw 53vh #9fbfec,
    54vw 53vh #9fbfec,
    28vw 44vh #9fbfec,
    7vw 96vh #9fbfec,
    40vw 55vh #9fbfec,
    63vw 15vh #9fbfec,
    85vw 86vh #9fbfec,
    33vw 53vh #9fbfec,
    4vw 17vh #9fbfec,
    67vw 73vh #9fbfec,
    11vw 78vh #9fbfec,
    21vw 54vh #9fbfec,
    5vw 47vh #9fbfec,
    98vw 78vh #9fbfec,
    6vw 63vh #9fbfec,
    87vw 81vh #9fbfec,
    92vw 42vh #9fbfec,
    99vw 50vh #9fbfec,
    66vw 77vh #9fbfec,
    74vw 69vh #9fbfec,
    28vw 74vh #9fbfec,
    48vw 65vh #9fbfec,
    70vw 49vh #9fbfec,
    4vw 6vh #9fbfec,
    18vw 7vh #9fbfec,
    14vw 93vh #9fbfec,
    26vw 26vh #9fbfec,
    79vw 94vh #9fbfec,
    87vw 10vh #9fbfec,
    48vw 97vh #9fbfec,
    34vw 6vh #9fbfec,
    7vw 13vh #9fbfec,
    40vw 63vh #9fbfec,
    14vw 67vh #9fbfec,
    54vw 50vh #9fbfec,
    19vw 47vh #9fbfec,
    71vw 95vh #9fbfec,
    86vw 22vh #9fbfec,
    46vw 29vh #9fbfec,
    39vw 27vh #9fbfec,
    11vw 56vh #9fbfec,
    69vw 91vh #9fbfec,
    79vw 59vh #9fbfec,
    19vw 60vh #9fbfec,
    56vw 48vh #9fbfec,
    98vw 98vh #9fbfec,
    45vw 1vh #9fbfec,
    29vw 41vh #9fbfec,
    47vw 7vh #9fbfec,
    40vw 35vh #9fbfec,
    61vw 94vh #9fbfec,
    35vw 12vh #9fbfec,
    33vw 47vh #9fbfec,
    27vw 42vh #9fbfec,
    53vw 48vh #9fbfec,
    35vw 71vh #9fbfec,
    42vw 13vh #9fbfec,
    81vw 66vh #9fbfec,
    29vw 46vh #9fbfec,
    63vw 34vh #9fbfec,
    18vw 7vh #9fbfec,
    85vw 58vh #9fbfec,
    48vw 36vh #9fbfec,
    57vw 65vh #9fbfec,
    45vw 10vh #9fbfec,
    47vw 12vh #9fbfec,
    24vw 43vh #9fbfec,
    39vw 20vh #9fbfec,
    2vw 60vh #9fbfec,
    37vw 43vh #9fbfec,
    97vw 77vh #9fbfec,
    31vw 88vh #9fbfec,
    8vw 13vh #9fbfec,
    68vw 98vh #9fbfec,
    11vw 26vh #9fbfec,
    70vw 73vh #9fbfec,
    68vw 100vh #9fbfec,
    48vw 40vh #9fbfec,
    80vw 93vh #9fbfec,
    42vw 43vh #9fbfec,
    49vw 48vh #9fbfec,
    65vw 71vh #9fbfec,
    91vw 58vh #9fbfec,
    29vw 2vh #9fbfec,
    62vw 19vh #9fbfec,
    89vw 71vh #9fbfec,
    19vw 41vh #9fbfec,
    84vw 60vh #9fbfec,
    73vw 22vh #9fbfec,
    50vw 23vh #9fbfec,
    89vw 16vh #9fbfec,
    26vw 36vh #9fbfec,
    5vw 93vh #9fbfec,
    83vw 14vh #9fbfec,
    53vw 10vh #9fbfec,
    70vw 52vh #9fbfec,
    35vw 46vh #9fbfec,
    42vw 22vh #9fbfec,
    48vw 92vh #9fbfec,
    84vw 21vh #9fbfec,
    32vw 66vh #9fbfec,
    75vw 26vh #9fbfec,
    88vw 91vh #9fbfec,
    91vw 62vh #9fbfec,
    47vw 23vh #9fbfec,
    88vw 47vh #9fbfec,
    4vw 45vh #9fbfec,
    3vw 62vh #9fbfec,
    44vw 21vh #9fbfec,
    27vw 19vh #9fbfec,
    47vw 76vh #9fbfec,
    84vw 87vh #9fbfec,
    13vw 97vh #9fbfec,
    83vw 31vh #9fbfec,
    79vw 90vh #9fbfec,
    46vw 84vh #9fbfec,
    85vw 30vh #9fbfec,
    62vw 79vh #9fbfec,
    83vw 69vh #9fbfec,
    10vw 94vh #9fbfec,
    43vw 94vh #9fbfec,
    69vw 2vh #9fbfec,
    14vw 28vh #9fbfec,
    89vw 43vh #9fbfec,
    68vw 90vh #9fbfec,
    34vw 45vh #9fbfec,
    94vw 61vh #9fbfec,
    62vw 29vh #9fbfec,
    67vw 21vh #9fbfec,
    88vw 91vh #9fbfec,
    30vw 40vh #9fbfec,
    89vw 93vh #9fbfec,
    70vw 64vh #9fbfec,
    45vw 81vh #9fbfec,
    33vw 25vh #9fbfec,
    8vw 14vh #9fbfec,
    41vw 8vh #9fbfec,
    37vw 74vh #9fbfec,
    51vw 55vh #9fbfec,
    34vw 45vh #9fbfec,
    91vw 74vh #9fbfec,
    90vw 80vh #9fbfec,
    13vw 1vh #9fbfec,
    70vw 71vh #9fbfec,
    72vw 49vh #9fbfec,
    29vw 76vh #9fbfec,
    47vw 54vh #9fbfec,
    64vw 65vh #9fbfec,
    53vw 23vh #9fbfec,
    79vw 28vh #9fbfec,
    43vw 71vh #9fbfec,
    49vw 40vh #9fbfec,
    51vw 88vh #9fbfec,
    41vw 89vh #9fbfec,
    31vw 63vh #9fbfec,
    100vw 85vh #9fbfec,
    13vw 94vh #9fbfec,
    75vw 51vh #9fbfec,
    38vw 42vh #9fbfec,
    15vw 80vh #9fbfec,
    44vw 59vh #9fbfec,
    60vw 9vh #9fbfec,
    61vw 61vh #9fbfec,
    70vw 20vh #9fbfec,
    21vw 52vh #9fbfec,
    19vw 91vh #9fbfec,
    66vw 9vh #9fbfec,
    26vw 7vh #9fbfec,
    80vw 10vh #9fbfec,
    16vw 97vh #9fbfec,
    60vw 75vh #9fbfec,
    87vw 34vh #9fbfec,
    81vw 75vh #9fbfec,
    44vw 90vh #9fbfec,
    96vw 33vh #9fbfec,
    9vw 50vh #9fbfec,
    92vw 78vh #9fbfec,
    21vw 12vh #9fbfec,
    51vw 80vh #9fbfec,
    41vw 70vh #9fbfec,
    63vw 92vh #9fbfec,
    2vw 88vh #9fbfec,
    49vw 16vh #9fbfec,
    94vw 39vh #9fbfec,
    13vw 80vh #9fbfec,
    66vw 87vh #9fbfec,
    7vw 30vh #9fbfec,
    13vw 94vh #9fbfec,
    15vw 32vh #9fbfec,
    17vw 32vh #9fbfec,
    24vw 39vh #9fbfec,
    55vw 69vh #9fbfec,
    90vw 99vh #9fbfec,
    48vw 13vh #9fbfec,
    80vw 14vh #9fbfec,
    73vw 22vh #9fbfec,
    33vw 67vh #9fbfec,
    69vw 17vh #9fbfec,
    47vw 11vh #9fbfec,
    8vw 93vh #9fbfec,
    4vw 8vh #9fbfec,
    18vw 5vh #9fbfec,
    23vw 92vh #9fbfec,
    97vw 71vh #9fbfec,
    60vw 70vh #9fbfec,
    24vw 28vh #9fbfec,
    28vw 53vh #9fbfec,
    96vw 92vh #9fbfec,
    22vw 90vh #9fbfec,
    31vw 20vh #9fbfec,
    26vw 60vh #9fbfec,
    97vw 96vh #9fbfec,
    18vw 38vh #9fbfec,
    97vw 50vh #9fbfec,
    32vw 51vh #9fbfec,
    32vw 32vh #9fbfec,
    62vw 68vh #9fbfec,
    36vw 44vh #9fbfec,
    23vw 92vh #9fbfec,
    42vw 1vh #9fbfec,
    11vw 14vh #9fbfec,
    99vw 24vh #9fbfec,
    39vw 35vh #9fbfec,
    26vw 6vh #9fbfec,
    24vw 74vh #9fbfec,
    87vw 20vh #9fbfec,
    56vw 82vh #9fbfec,
    61vw 73vh #9fbfec,
    1vw 72vh #9fbfec,
    58vw 21vh #9fbfec,
    35vw 37vh #9fbfec,
    63vw 40vh #9fbfec,
    44vw 38vh #9fbfec,
    57vw 42vh #9fbfec,
    49vw 74vh #9fbfec,
    59vw 82vh #9fbfec,
    21vw 49vh #9fbfec,
    86vw 55vh #9fbfec,
    56vw 56vh #9fbfec,
    91vw 10vh #9fbfec,
    82vw 23vh #9fbfec,
    38vw 58vh #9fbfec,
    84vw 19vh #9fbfec,
    69vw 25vh #9fbfec,
    38vw 47vh #9fbfec,
    94vw 52vh #9fbfec,
    7vw 46vh #9fbfec,
    23vw 24vh #9fbfec,
    68vw 22vh #9fbfec,
    68vw 68vh #9fbfec,
    85vw 49vh #9fbfec,
    35vw 48vh #9fbfec,
    24vw 28vh #9fbfec,
    100vw 54vh #9fbfec,
    6vw 47vh #9fbfec,
    55vw 4vh #9fbfec,
    53vw 84vh #9fbfec,
    14vw 85vh #9fbfec,
    46vw 69vh #9fbfec,
    77vw 99vh #9fbfec,
    42vw 94vh #9fbfec,
    41vw 14vh #9fbfec,
    47vw 93vh #9fbfec,
    65vw 71vh #9fbfec,
    48vw 26vh #9fbfec,
    28vw 53vh #9fbfec,
    82vw 49vh #9fbfec,
    52vw 93vh #9fbfec,
    87vw 55vh #9fbfec,
    99vw 19vh #9fbfec,
    25vw 29vh #9fbfec,
    29vw 16vh #9fbfec,
    54vw 30vh #9fbfec,
    4vw 62vh #9fbfec,
    51vw 95vh #9fbfec,
    69vw 22vh #9fbfec,
    16vw 62vh #9fbfec,
    17vw 94vh #9fbfec,
    16vw 51vh #9fbfec,
    93vw 70vh #9fbfec,
    19vw 43vh #9fbfec,
    76vw 54vh #9fbfec,
    65vw 48vh #9fbfec,
    48vw 1vh #9fbfec,
    94vw 37vh #9fbfec,
    75vw 45vh #9fbfec,
    31vw 6vh #9fbfec,
    45vw 100vh #9fbfec,
    61vw 37vh #9fbfec,
    14vw 46vh #9fbfec,
    21vw 85vh #9fbfec,
    17vw 28vh #9fbfec,
    29vw 38vh #9fbfec,
    37vw 92vh #9fbfec,
    41vw 32vh #9fbfec,
    71vw 15vh #9fbfec,
    11vw 66vh #9fbfec,
    3vw 99vh #9fbfec,
    20vw 37vh #9fbfec,
    23vw 98vh #9fbfec,
    53vw 94vh #9fbfec,
    97vw 27vh #9fbfec,
    7vw 96vh #9fbfec,
    83vw 100vh #9fbfec,
    87vw 36vh #9fbfec,
    29vw 19vh #9fbfec,
    16vw 45vh #9fbfec,
    33vw 26vh #9fbfec,
    36vw 70vh #9fbfec,
    60vw 50vh #9fbfec,
    71vw 18vh #9fbfec,
    26vw 55vh #9fbfec,
    34vw 29vh #9fbfec,
    73vw 29vh #9fbfec,
    53vw 81vh #9fbfec,
    8vw 56vh #9fbfec,
    74vw 45vh #9fbfec,
    93vw 15vh #9fbfec,
    87vw 76vh #9fbfec,
    93vw 32vh #9fbfec,
    29vw 42vh #9fbfec,
    100vw 37vh #9fbfec,
    95vw 85vh #9fbfec,
    90vw 33vh #9fbfec,
    59vw 42vh #9fbfec,
    75vw 11vh #9fbfec,
    72vw 70vh #9fbfec,
    28vw 75vh #9fbfec,
    17vw 40vh #9fbfec,
    9vw 81vh #9fbfec,
    95vw 91vh #9fbfec,
    44vw 14vh #9fbfec,
    80vw 72vh #9fbfec,
    37vw 100vh #9fbfec,
    81vw 26vh #9fbfec,
    86vw 55vh #9fbfec,
    41vw 79vh #9fbfec,
    93vw 56vh #9fbfec,
    50vw 2vh #9fbfec,
    97vw 1vh #9fbfec,
    67vw 35vh #9fbfec,
    10vw 96vh #9fbfec,
    81vw 24vh #9fbfec,
    33vw 56vh #9fbfec,
    61vw 10vh #9fbfec,
    56vw 10vh #9fbfec,
    39vw 16vh #9fbfec,
    36vw 47vh #9fbfec,
    27vw 73vh #9fbfec,
    42vw 49vh #9fbfec,
    77vw 89vh #9fbfec,
    65vw 79vh #9fbfec,
    22vw 8vh #9fbfec,
    28vw 70vh #9fbfec,
    15vw 68vh #9fbfec,
    74vw 57vh #9fbfec,
    57vw 38vh #9fbfec,
    90vw 98vh #9fbfec,
    77vw 15vh #9fbfec,
    11vw 98vh #9fbfec,
    83vw 87vh #9fbfec,
    65vw 3vh #9fbfec,
    77vw 32vh #9fbfec,
    15vw 18vh #9fbfec,
    10vw 44vh #9fbfec,
    39vw 21vh #9fbfec,
    67vw 38vh #9fbfec,
    45vw 54vh #9fbfec,
    86vw 57vh #9fbfec,
    60vw 34vh #9fbfec,
    26vw 79vh #9fbfec,
    42vw 91vh #9fbfec,
    95vw 38vh #9fbfec,
    31vw 50vh #9fbfec,
    14vw 6vh #9fbfec,
    55vw 58vh #9fbfec,
    63vw 4vh #9fbfec,
    58vw 37vh #9fbfec,
    60vw 56vh #9fbfec,
    2vw 97vh #9fbfec,
    41vw 59vh #9fbfec,
    35vw 62vh #9fbfec,
    46vw 7vh #9fbfec,
    100vw 87vh #9fbfec,
    70vw 18vh #9fbfec,
    16vw 50vh #9fbfec,
    40vw 86vh #9fbfec,
    97vw 59vh #9fbfec,
    76vw 73vh #9fbfec,
    24vw 95vh #9fbfec,
    12vw 27vh #9fbfec,
    48vw 90vh #9fbfec,
    39vw 43vh #9fbfec,
    37vw 64vh #9fbfec,
    70vw 15vh #9fbfec,
    97vw 2vh #9fbfec,
    88vw 82vh #9fbfec,
    71vw 69vh #9fbfec,
    46vw 3vh #9fbfec,
    17vw 83vh #9fbfec,
    88vw 59vh #9fbfec,
    67vw 37vh #9fbfec,
    5vw 43vh #9fbfec,
    85vw 81vh #9fbfec,
    92vw 86vh #9fbfec,
    25vw 98vh #9fbfec,
    8vw 69vh #9fbfec,
    33vw 1vh #9fbfec,
    97vw 70vh #9fbfec,
    31vw 15vh #9fbfec,
    97vw 76vh #9fbfec,
    91vw 26vh #9fbfec,
    88vw 51vh #9fbfec,
    69vw 35vh #9fbfec,
    13vw 42vh #9fbfec,
    45vw 53vh #9fbfec,
    52vw 91vh #9fbfec,
    91vw 68vh #9fbfec,
    23vw 43vh #9fbfec,
    37vw 84vh #9fbfec,
    7vw 43vh #9fbfec,
    32vw 80vh #9fbfec,
    4vw 78vh #9fbfec,
    2vw 49vh #9fbfec,
    17vw 60vh #9fbfec,
    77vw 11vh #9fbfec,
    31vw 62vh #9fbfec,
    79vw 72vh #9fbfec,
    82vw 10vh #9fbfec,
    55vw 22vh #9fbfec,
    5vw 3vh #9fbfec,
    78vw 36vh #9fbfec,
    55vw 58vh #9fbfec,
    26vw 74vh #9fbfec,
    37vw 19vh #9fbfec,
    56vw 96vh #9fbfec,
    78vw 34vh #9fbfec,
    37vw 27vh #9fbfec,
    70vw 75vh #9fbfec,
    41vw 26vh #9fbfec,
    67vw 20vh #9fbfec,
    14vw 71vh #9fbfec,
    57vw 71vh #9fbfec,
    5vw 26vh #9fbfec,
    63vw 12vh #9fbfec,
    71vw 42vh #9fbfec,
    17vw 47vh #9fbfec,
    11vw 35vh #9fbfec,
    84vw 44vh #9fbfec;
}