@import '@perseid/ui/core/index.scss';

@include init();

.hero {
  max-width: 100%;
  @include extend(flex flex-wrap w-full);
  padding: var(--gaps-6) var(--gaps-3) 0 var(--gaps-3);

  h1 {
    margin: 0;
    font-size: 3.5rem;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-family: 'Orbitron', sans-serif;
    background-image: linear-gradient(45deg, #6b46d8, #e212a7 75%);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    text-transform: none;
    background-repeat: repeat;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 100;
    opacity: 0.75;
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    text-transform: uppercase;
  }

  &__button {
    font-size: 1.25rem;
    border-radius: 4px;
    width: fit-content;
    font-weight: 500;
    margin-top: var(--gaps-4);
    align-self: center;
    font-weight: 600;
    border: 1px solid transparent;
    padding: var(--gaps-2) var(--gaps-3);

    @include query(l) {
      align-self: flex-start;
    }

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      color: #fefefe;
    }

    &:first-child {
      color: #e212a7;
      border: 1px solid #e212a7;
      box-shadow: 0px 0px 30px 6px rgba(226, 18, 167, 0.7);
    }

    &:last-child {
      background: none;
      box-shadow: none;
    }
  }

  &__form {
    @include extend(grid);
    height: fit-content;
    border: none !important;

    .perseid-form {
      margin: auto;
    }

    @include query(m) {
      min-width: 35rem;
    }
  }
}

.benefits {
  z-index: 1;
  position: relative;
  padding: 0 var(--gaps-3);
  background: none;
  @include extend(grid vgap-4);

  .benefit {
    padding: 3px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    transition: all 300ms ease-in-out;

    &:nth-child(2) .inner,
    &:nth-child(4) .inner {
      @include extend(flex-row-rev);
    }

    .blob {
      filter: blur(40px);
      position: absolute;
      z-index: -1;
      top: 0;
      opacity: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: #e212a7;
      transition: all 300ms ease-in-out;
    }

    .fakeblob {
      display: hidden;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    .inner {
      @include extend(
        flex flex-row flex-wrap l\:flex-nowrap h-full items-center justify-center hgap-4 vgap-4
      );
      padding: var(--gaps-4);
      background: none;
      border-radius: 8px;
      background: #0b061a;
      backdrop-filter: blur(80px);
      transition: all 300ms ease-in-out;

      .ui-icon {
        width: 8rem;
        height: 8rem;
      }

      &:not(:has(.ui-icon)) {
        justify-content: flex-start !important;
      }
    }

    &:hover > .inner {
      backdrop-filter: blur(80px);
      background: rgba(11, 6, 26, 0.5);
    }

    a {
      font-weight: 600;
    }

    h4 {
      font-size: 1.125rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-family: 'Orbitron', sans-serif;
    }
  }
}

.references {
  @include extend(grid vgap-4 text-center);
  padding: 0 var(--gaps-3);
  pointer-events: none;
  user-select: none;

  & > div {
    max-width: 100%;
    & > img {
      width: 12rem;
      opacity: 0.75;
      max-height: 40px;
    }
  }

  h3 {
    font-size: 1.125rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
  }
}

.footer {
  background: none;
  margin-top: var(--gaps-5);

  &__links {
    padding: var(--gaps-4) 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__copyright {
    @include extend(text-center);
    padding: var(--gaps-4) 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
}

.ui-icon {
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  user-select: none;
  background: white;

  @include modifiers(galaxy) {
    mask: url(/src/pages/galaxy.svg) no-repeat center / contain;
  }

  @include modifiers(saturn) {
    mask: url(/src/pages/saturn.svg) no-repeat center / contain;
  }

  @include modifiers(rocket) {
    mask: url(/src/pages/rocket.svg) no-repeat center / contain;
  }

  @include modifiers(satellite) {
    mask: url(/src/pages/satellite.svg) no-repeat center / contain;
  }

  @include modifiers(earth) {
    mask: url(/src/pages/earth.svg) no-repeat center / contain;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.what {
  height: 122rem;
  position: relative;
  @include extend(l\:none);
  padding: 0 var(--gaps-3);
  --percentage: 0;
  --section-height: 15rem;

  p {
    margin: 0;
  }

  &__label {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    opacity: 0;
    transition: all 250ms ease-in-out;
  }

  &__section {
    width: 100%;
    margin: auto;
    $color: #20173b;
    transition: all 250ms ease-in-out;
    height: var(--section-height);
    // border: 4px solid red;
    $rgba-color: rgba(226, 18, 167, 0);

    &:nth-child(4) {
      margin-top: var(--gaps-6);

      .what__section__path {
        display: grid;
      }
      .what__section__sticky svg {
        width: 200px;
        justify-self: flex-end;
        height: calc(11rem + var(--gaps-5));
      }
    }

    // Data model
    &:nth-child(4) {
      height: fit-content;
    }

    &:nth-child(6) {
      margin-top: var(--gaps-5);
    }

    // REST API
    &:nth-child(7) {
      margin-top: var(--section-height);
    }

    // UI
    &:nth-child(8) {
      height: fit-content;
      margin-top: var(--section-height);
    }

    &__sticky {
      top: 7rem;
      position: sticky;
    }

    &__path {
      top: 7rem;
      height: 0;
      position: sticky;

      svg {
        width: 100%;
        height: 100%;
        position: absolute;
        height: calc(9rem + var(--section-height));
      }
    }

    &__block {
      z-index: 1;
      background: #0b061a;
      transition: all 250ms ease-in-out;
      @include extend(block text-center);
      color: $color;
      border-radius: 8px;
      letter-spacing: 1px;
      text-transform: uppercase;
      border: 2px solid $color;
      font-family: 'Orbitron', sans-serif;
      padding: var(--gaps-4) var(--gaps-3);
      box-shadow: 0px 0px 12px 4px $rgba-color;

      path,
      code {
        stroke: $color;
        transition: all 250ms ease-in-out;
        transition-delay: 250ms;
      }

      @include modifiers(api) {
        & > div > div {
          margin: auto;

          & > code {
            @include extend(block);
          }
        }
      }

      @include modifiers(data-model) {
        & > code {
          margin: auto;
          width: fit-content;

          & > span {
            margin-left: var(--gaps-3);
          }
        }
      }
    }

    @include modifiers(label) {
      margin: auto;
      margin-top: var(--gaps-5);
      height: fit-content;
      font-family: 'Orbitron', sans-serif;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 1px;
      opacity: 0;
    }

    @include modifiers(visible) {
      opacity: 1;
      $color: #e212a7;
      $rgba-color: rgba(226, 18, 167, 0.7);

      .what__label {
        opacity: 1;
      }
    }

    @include modifiers(visible, &) {
      &__block {
        color: $color;
        border: 2px solid $color;
        box-shadow: 0px 0px 12px 4px $rgba-color;

        path {
          stroke: $color;
        }
      }
    }
  }
}

.what2 {
  padding: 0 var(--gaps-3);
  @include extend(none l\:grid vgap-5);

  &__label {
    opacity: 0;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 250ms ease-in-out;
    font-family: 'Orbitron', sans-serif;
  }

  &__section {
    @include extend(flex w-full items-start);
    $color: #20173b;
    transition: all 250ms ease-in-out;
    $rgba-color: rgba(226, 18, 167, 0);

    &:nth-child(1),
    &:nth-child(3) {
      max-width: 60%;
    }

    &:nth-child(2) {
      min-width: 95%;
    }

    &:nth-child(1):not(.what2__section--data-model) {
      transform: translateY(5rem);

      .what2__section__block {
        transition-delay: 1500ms;

        path {
          transition-delay: 1750ms;
        }
      }

      .what2__section__path {
        transform: translateY(1rem);
      }
    }

    &:nth-child(2) {
      .what2__section__block {
        transition-delay: 3000ms;
      }
    }

    &:nth-child(3) {
      .what2__section__block {
        transition-delay: 3500ms;
      }

      path {
        transition-delay: 3750ms;
      }
    }

    &:nth-child(3) {
      transform: translateY(-5rem);

      .what2__section__path {
        transform: translateY(-1rem);
      }
    }

    &__path {
      @include extend(self-center flex-auto);

      svg {
        max-height: 10rem;
        min-width: 100%;
        height: fit-content;

        path {
          stroke-dashoffset: 2000;
        }
      }
    }

    &__block {
      z-index: 1;
      min-width: 15rem;
      background: #0b061a;
      transition: all 250ms ease-in-out;
      @include extend(block text-center);
      color: $color;
      border-radius: 8px;
      letter-spacing: 1px;
      text-transform: uppercase;
      border: 2px solid $color;
      font-family: 'Orbitron', sans-serif;
      padding: var(--gaps-4) var(--gaps-3);
      box-shadow: 0px 0px 12px 4px $rgba-color;

      path,
      code {
        stroke: $color;
        margin: auto;
        width: fit-content;
        transition: all 250ms ease-in-out;
        transition-delay: 250ms;
      }

      p {
        margin: 0;
      }

      svg {
        margin: auto;
      }

      @include modifiers(data-model) {
        & > code {
          margin: auto;
          width: fit-content;

          & > span {
            margin-left: var(--gaps-3);
          }
        }
      }

      @include query(l) {
        min-width: 20rem;
      }
    }
  }

  @include modifiers(visible, &) {
    &__label {
      opacity: 1;
    }

    &__section:nth-child(1) {
      .what2__section__path svg path {
        animation: dash 3000ms linear forwards;
        animation-delay: 1000ms;
      }
    }

    &__section:nth-child(2) {
      .what2__section__path svg path {
        animation: dash 3000ms linear forwards;
        animation-delay: 2000ms;
      }
    }

    &__section:nth-child(3) {
      .what2__section__path svg path {
        animation: dash 3000ms linear forwards;
        animation-delay: 3000ms;
      }
    }

    &__section {
      $color: #e212a7;
      $rgba-color: rgba(226, 18, 167, 0.7);
      &__block {
        color: $color;
        border: 2px solid $color;
        box-shadow: 0px 0px 12px 4px $rgba-color;

        path {
          stroke: $color;
        }
      }
    }

    @include modifiers(visible) {
      opacity: 1;

      .what__label {
        opacity: 1;
      }
    }
  }
}

.path {
  stroke-dasharray: 2000;
  fill-opacity: 0;
  filter: url(#strokeGlow);
  stroke-dashoffset: calc(20 * calc(100 - var(--percentage)));
}

.subtitle {
  color: #e212a7;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: 'Orbitron', sans-serif;
}

.what,
.what2,
.benefits > div:first-child {
  h3 {
    font-weight: 300;
    font-size: 1.5rem;
  }
}

@keyframes spin {
  0% {
    stroke-dashoffset: 1500;
  }
  100% {
    stroke-dashoffset: 500;
  }
}
.loader {
  opacity: 1;
  width: 10rem;
  margin: auto;
  transition: all 250ms ease-in-out;
}
.loader__path {
  fill-opacity: 0;
  stroke-dasharray: 500;
  stroke-dashoffset: 1500;
  filter: url(#strokeGlow);
  animation: spin 4s ease-in-out infinite;
}
