/* latin-ext */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oxygen/v15/2sDcZG1Wl4LcnbuCJW8zZmW5O7w.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oxygen/v15/2sDcZG1Wl4LcnbuCJW8zaGW5.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oxygen/v15/2sDfZG1Wl4LcnbuKgE0mV0Q.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oxygen/v15/2sDfZG1Wl4LcnbuKjk0m.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oxygen/v15/2sDcZG1Wl4LcnbuCNWgzZmW5O7w.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oxygen/v15/2sDcZG1Wl4LcnbuCNWgzaGW5.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v19/QGYqz_wNahGAdqQ43Rh_eZDkv_1w4A.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v19/QGYqz_wNahGAdqQ43Rh_eZDlv_1w4A.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v19/QGYqz_wNahGAdqQ43Rh_eZDrv_0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_c6Dpp_k.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_cqDpp_k.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_fKDp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v31/yMJRMIlzdpvBhQQL_Qq7dy0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  min-height: 100%;
  height: initial !important;
}

body {
  min-height: 100vh;
}

:root {
  --ifm-color-primary: #e212a7;
}

@media screen and (max-width: 576px) {
  .hero__button:last-child {
    margin-top: var(--gaps-3);
  }
}

@media screen and (max-width: 768px) {
  .hero {
    padding-top: var(--gaps-5) !important;
  }
  .hero h1 {
    font-size: 3rem !important;
  }
  .hero h2 {
    font-size: 1.125rem !important;
  }
  .hero a {
    font-size: 1.125rem !important;
  }
  .hero__button {
    justify-self: center;
  }
}

.markdown a {
  text-decoration: underline;
  font-weight: 700;
}

article ul, .markdown ul {
  list-style: initial;
}

:root,
html[data-theme='dark'] {
  --ifm-color-gray-900: #0b061a;
  --ifm-background-color: #0b061a;
  --ifm-background-surface-color: #0b061a;
}

.navbar {
  background: #0b061a;
}

.navbar--fixed-top {
  background: #0b061a;
}

h1,
h2,
h3,
h4 {
  font-family: 'Oxygen';
  text-transform: none;
  letter-spacing: 0px;
}

body {
  font-family: 'Oxygen', sans-serif;
  background: linear-gradient(180deg, #0b061a, #14061a);
}

#__docusaurus {
  margin: auto;
  max-width: 80rem;
}

article a {
  font-weight: 600;
  text-decoration: underline;
}

article a.cta {
  margin: 0;
  display: block;
  font-weight: 500;
  font-size: 1.25rem;
  border-radius: 4px;
  width: fit-content;
  align-self: center;
  font-weight: 600;
  text-decoration: none;
  margin-top: var(--gaps-4);
  border: 1px solid #ececec;
  transition: all 250ms ease-in-out;
  padding: var(--gaps-2) var(--gaps-3);

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    border: 1px solid #e212a7;
  }
}

article a.cta--emphasis {
  color: #e212a7;
  border: 1px solid #e212a7;
  box-shadow: 0px 0px 30px 6px rgba(226, 18, 167, 0.7);
}

article a.cta--centered {
  margin: auto;
}

article a.cta p {
  margin: 0;
}


.hero__form {
  border-radius: 8px;
  background: #0b061a;
  border: 2px solid #291f27;
  height: 10rem;
  width: 30rem;
}


.DocSearch.DocSearch-Button {
  border-radius: 4px;
  border: 1px solid #291f27;
}

.navbar__inner .menu__list-item:nth-child(6) .menu__link,
.navbar__inner .menu__list-item:nth-child(7) .menu__link,
.navbar__inner .navbar__item.navbar__link:nth-child(6),
.navbar__inner .navbar__item.navbar__link:nth-child(7) {
  width: 2.5rem;
  height: 100%;
  background: #e3e3e3;
  transition: all 150ms ease-in-out;
}

.navbar__inner .menu__list-item:nth-child(6),
.navbar__inner .menu__list-item:nth-child(7) {
  margin-top: 0;
  margin: auto;
  display: inline-block;
}

.navbar__inner .menu__list-item:nth-child(6) {
  margin-top: 3rem;
}

.navbar__inner .menu__list-item:nth-child(6) .menu__link,
.navbar__inner .menu__list-item:nth-child(7) .menu__link {
  height: 3rem;
}

.navbar__inner .navbar__item.navbar__link:nth-child(5)::after {
  content: '';
  margin-left: 1rem;
  border-right: 1px solid #e3e3e3;
}

.navbar__inner .menu__list-item:nth-child(6) .menu__link, .navbar__item.navbar__link:nth-child(6) {
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
  mask-position: center;
  mask-size: 100% 50%;
}

.navbar__inner .menu__list-item:nth-child(7) .menu__link, .navbar__item.navbar__link:nth-child(7) {
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M20.317 4.37a19.791 19.791 0 0 0-4.885-1.515.074.074 0 0 0-.079.037c-.21.375-.444.864-.608 1.25a18.27 18.27 0 0 0-5.487 0 12.64 12.64 0 0 0-.617-1.25.077.077 0 0 0-.079-.037A19.736 19.736 0 0 0 3.677 4.37a.07.07 0 0 0-.032.027C.533 9.046-.32 13.58.099 18.057a.082.082 0 0 0 .031.057 19.9 19.9 0 0 0 5.993 3.03.078.078 0 0 0 .084-.028c.462-.63.874-1.295 1.226-1.994a.076.076 0 0 0-.041-.106 13.107 13.107 0 0 1-1.872-.892.077.077 0 0 1-.008-.128 10.2 10.2 0 0 0 .372-.292.074.074 0 0 1 .077-.01c3.928 1.793 8.18 1.793 12.062 0a.074.074 0 0 1 .078.01c.12.098.246.198.373.292a.077.077 0 0 1-.006.127 12.299 12.299 0 0 1-1.873.892.077.077 0 0 0-.041.107c.36.698.772 1.362 1.225 1.993a.076.076 0 0 0 .084.028 19.839 19.839 0 0 0 6.002-3.03.077.077 0 0 0 .032-.054c.5-5.177-.838-9.674-3.549-13.66a.061.061 0 0 0-.031-.03zM8.02 15.33c-1.183 0-2.157-1.085-2.157-2.419 0-1.333.956-2.419 2.157-2.419 1.21 0 2.176 1.096 2.157 2.42 0 1.333-.956 2.418-2.157 2.418zm7.975 0c-1.183 0-2.157-1.085-2.157-2.419 0-1.333.955-2.419 2.157-2.419 1.21 0 2.176 1.096 2.157 2.42 0 1.333-.946 2.418-2.157 2.418Z'/%3E%3C/svg%3E") no-repeat;
  mask-position: center;
  mask-size: 100% 50%;
}

.navbar__inner .menu__list-item:nth-child(6):hover,
.navbar__inner .menu__list-item:nth-child(7):hover,
.navbar__inner .navbar__item.navbar__link:nth-child(6):hover,
.navbar__inner .navbar__item.navbar__link:nth-child(7):hover {
  background: #e212a7;
}


.menu__list-item--header {
  font-weight: 900;
  font-size: .875rem;
  color: #ffffff85;
}

.markdown hr,
.menu__list-item hr {
  margin: 0;
  background: #ffffff28;
  margin-top: var(--gaps-3);
}

.markdown hr {
  margin-top: var(--gaps-4);
  margin-bottom: var(--gaps-4);
}

.theme-admonition {
  margin-top: var(--gaps-3);
  margin-bottom: var(--gaps-3);
}

.tab__item {
  margin-top: var(--ifm-list-item-margin);
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px;
  background: #28262b;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #444950;
}

::-webkit-scrollbar-thumb:hover {
  background: #53575e;
}

html {
  scrollbar-gutter: stable;
}

.menu.thin-scrollbar {
  scrollbar-width: initial;
}

blockquote {
  margin: var(--gaps-3) 0;
  padding: var(--gaps-3);
}